.board{
    width: 50%;
    margin: 0 auto;
}

.buttonBox{
    height: 100px;
    width: 100px;
    font-size: 5rem;
    float: left;
}

.row:after {
    clear: both;
    content: '';
    display: table;
  }
