.board{
    diplay: flex;
    flex-direction: column;
    justify-content: center;
    align-iteams: center;
}

.buttonBox{
    height: 100px;
    width: 100px;
    font-size: 5rem;
    float: left;
}

.row:after {
    clear: both;
    content: '';
    display: table;
  }
